body {
    background-color: #eaeaea;
    font-family: 'Viga', sans-serif;
}

.CV {
    font-size: 18px;
}

.CV img {
    width: 100%;
    border-radius: 5px 50px 5px 5px;
}

/* Garis */
hr {
    width: 100%;
    border-top: 3px solid grey;
    margin-left: auto;
    margin-top: 30px;
}

hr::after {
    border-bottom: 3px solid black;
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
}

/* Akhir Garis */

h3 {
    text-transform: uppercase;
}

.sertifikat .sp {
    margin-top: -10px;
    font-style: italic;
}

.pendidikan p {
    margin-bottom: -5px;
}

/* Responsive break */

@media screen and (max-width:576px) {

    .container {
        padding: 1rem !important;
    }

    .CV {
        padding: 1rem 1.5rem !important;
    }

    .alamat,
    .nama {
        text-align: center;
    }

}